body{
  background-color: #f6f5f5;
}

.productContainer {
  width: 200px;
  border: 1px solid #c060a1;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  color: #f6f5f5;
}
